.cart-icon {
    padding-top: 0.2rem !important;
    text-align: end;
}

.menu-text {
    color: #1677ff;
    font-size: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
}

.shopping-cart {
    font-size: 1.5rem;
    color: #1677ff;
}