.icon {
    font-size: 1.5rem;
    color: #1677ff;
}

.price-text {
    padding-right: 2rem;
}

.quantity-text {
    font-size: 1.2rem;
    margin: 0;
    color: black;
}

.display-flex {
    display: flex;
}

.close-button{
    vertical-align: center;
    padding-left: 2rem;
}